body{
    background-color:mediumturquoise;
}
fieldset{
    margin-right: 10%;
    margin-left: 20%;
    background-color:aliceblue;
}
h1{
    text-align: center;
    color:black;
}
div{
    background-color: chocolate;
}
button{
    background-color:white;
    t
}
